include README.md
include LICENSE
include pyproject.toml
recursive-include freesurfer_post *.py
recursive-include freesurfer_post *.json
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*